# Python bytecode
__pycache__/
*.py[cod]
*.pkl
*.joblib
*.ipynb_checkpoints/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS metadata
.DS_Store

# Visual Studio Code
.vscode/
*.code-workspace

# Excel temporary files
~$*.xlsx

# Streamlit cache
.streamlit/

# Logs
*.log

# Environment
.env
.venv/
env/
venv/
